
body {
    /* Define o fundo (background) como preto */
    background-color: rgb(204, 11, 43);

    /* Define a cor do texto como branco */
    color: white;

    /* Define a margem (espaço ao redor) do corpo como 0 pixels, removendo espaçamento padrão */
    margin: 0px;
}

/* Estilo para o cabeçalho (header) do documento */
header {
    /* Adiciona um preenchimento (padding) de 20 pixels ao redor do conteúdo do cabeçalho */
    padding: 20px;

    /* Adiciona uma borda inferior de 2 pixels sólida com a cor azul (rgb(42, 122, 228)) */
    border-bottom: 2px solid rgb(42, 122, 228);

    /* Define o tamanho da fonte como 32 pixels */
    font-size: 32px;

    /* Define a cor do texto como azul (rgb(42, 122, 228)) */
    color: rgb(42, 122, 228);
}

/* Estilo para a seção (section) do documento */
section {
    /* Define o fundo (background) da seção como vermelho (rgb(245, 5, 7)) */
    background: rgb(245, 5, 7);

    /* Adiciona um preenchimento (padding) de 80 pixels acima do conteúdo da seção */
    padding-top: 80px;

    /* Adiciona um preenchimento (padding) de 80 pixels abaixo do conteúdo da seção */
    padding-bottom: 80px;
}